body{
    
    background-color:slategrey;
}
.content{
    margin-left: 25px;
    margin-right: 25px;
}
ul{
    background-color: rgb(75, 71, 71);
    list-style: none;
    padding: 4px;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
}
li{
    color: antiquewhite;
    
    border-bottom: 1px solid rgb(134, 133, 133);
    width: fit-content;
    margin-bottom: 5px;
}
.highest{
    color: orange;
    font-weight: bold;
}
span{
    font-weight: bold;
}
button{
    border-radius: 4px;
    margin-bottom: 5px;
}
button:hover{
    background-color: green;
    box-shadow: 5px 5px 5px black;

}
.time{
    font-size: 15px;
    color: rgb(74, 98, 236);
}